/* BASE STYLE */
body {
  background-color: #121212;
  color: #E0E0E0;
	font-family: Verdana, sans-serif;
}

/* TOP BAR */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1E1E1E;
  text-align: center;
	box-shadow: 2px 2px 5px black;
}

/* "MY SOCIAL LINKS" */
#title {
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* PAGE CONTENTS */
#card {
	margin: auto;
	margin-top: 10%;
	border-radius: 10px;
	background-color: #1E1E1E;
	width: 400px;
	padding: 25px;
	text-align: center;
	box-shadow: 2px 2px 10px black;
}

/* IMAGE */
#avatar {
	border-radius: 50%;
	box-shadow: 2px 2px 10px #FF1744;
	width: 40%;
  cursor: pointer;
}

/* TOOLTIP STYLE */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px 10px 10px 0;
  position: absolute;
  z-index: 1;
}

/* SHOW TOOLTIP */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* EXPAND IMAGE */
.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* IMAGE EXPANDED */
.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 500px;
	box-shadow: 2px 2px 10px #FF1744;
}

/* CLOSE EXPANDED IMAGE */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover {
	cursor: pointer;
}

/* LINK BUTTONS */
.link {
	padding: 10px;
	box-shadow: 2px 2px 5px black;
	border-radius: 5px;
	background-color: #121212;
	margin: auto;
	margin-bottom: 20px;
	width: 70%;
}

.link a {
	text-decoration: none;
	color: white;
}

.link:hover {
	cursor: pointer;
	background-color: #FF1744;
	box-shadow: 2px 2px 5px #FF1744;
}

/* BOTTOM BAR */
.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1E1E1E;
  text-align: center;
	padding: 10px;
	box-shadow: 2px 2px 10px black;
}

.attribution a {
	color: #FF1744;
}
